---
import Layout from "../layouts/Layout.astro"
import Logo from "../assets/icons/fb-blue-light.svg"
---

<Layout title="faizbyp">
	<header class="container mb-5">
		<div class="text-end my-4">
			<a href="#">
				<img src={Logo} alt="" width="64" height="64">
			</a>
		</div>
		<h1 class="display-1 text-primary fw-bold">—faizbyp</h1>
		<p>A Computer Science student who puts an interest in creative and technology fields, especially in graphic design with Figma, software engineering, mainly web development, and technical writing. Faiz has a high level of curiosity, able to take the initiative and think critically, is full of consideration, and never runs out of ambitions. Faiz always looks for opportunities to develop his capacity, both in terms of soft skills and technical skills.</p>
	</header>
	<main class="container">
		<h1 class="display-4 text-primary text-center fw-bold">Developer, Writer, Designer</h1>
		<div class="row">
			<div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis expedita qui eligendi placeat ut dolore distinctio, ad ab quis. Voluptas, repellendus dicta eum deleniti error natus nostrum porro consequatur, perferendis tempora dolore mollitia nulla aliquid id numquam molestiae hic odio? Repudiandae, debitis libero aliquam officia nemo vel inventore vero numquam.</div>
			<div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laboriosam mollitia molestiae, rem, sint tempora itaque eum eveniet soluta repudiandae provident distinctio recusandae maiores nobis quod dolorem quia reprehenderit dignissimos, debitis quisquam qui error dolorum aliquid nemo! Necessitatibus molestias ea, eum aliquam voluptatem nisi. Cumque asperiores cum nostrum perspiciatis libero assumenda quos eius, in nulla.</div>
		</div>
	</main>
</Layout>
