---
import Layout from "../layouts/Layout.astro"
import Logo from "../assets/icons/fb-blue-light.svg"
---

<Layout title="—faizbyp">
	<header class="container mb-5">
		<div class="text-end my-4">
			<a href="#">
				<img src={Logo} alt="" width="64" height="64">
			</a>
		</div>
		<h1 class="display-1 text-primary fw-bold">—faizbyp</h1>
		<p>A Computer Science student who puts an interest in creative and technology fields, especially in graphic design with Figma, software engineering, mainly web development, and technical writing. Faiz has a high level of curiosity, able to take the initiative and think critically, is full of consideration, and never runs out of ambitions. Faiz always looks for opportunities to develop his capacity, both in terms of soft skills and technical skills.</p>
		<a href="https://www.linkedin.com/in/faizbyp/" target="_blank" class="btn btn-link text-primary fw-bold">more about me</a>
	</header>
	<main class="container mb-5">
		<h1 class="display-5 text-center fw-bold">
			<a href="https://github.com/faizbyp" target="_blank" class="text-secondary">Developer,</a>
			<a href="https://dev.to/faizbyp" target="_blank" class="text-secondary">Writer,</a>
			<a href="https://www.behance.net/faizbyp" target="_blank" class="text-secondary">Designer.</a>
		</h1>
	</main>
	<footer class="text-center py-5 fst-italic">🚧 still under construction 🚧</footer>
</Layout>
